@import url(https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,400;1,600&family=Pacifico&display=swap);
$primary-color: rgb(216,79,87);
$secondary-color: rgb(232,236,239);
$tertiary-color: #3e83eb;
$color-black: #000;
$color-dark: #2f3d49;
$color-light: rgb(228, 227, 227);

$font-headings: 'Crimson Text', serif;
$font-text: 'Pacifico', cursive;
$font-h1: 3vw;
$font-h2: 3vw;
$font-h3: 1.5rem;
$text: 1rem;
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
